.logo {
  width: 6%;
}

.nav-theme {
  background-color: #6b6b6bf8;
  font-size: 22px;
}

.animate-navbar {
  box-shadow: 1.5px 1.5px 1.5px rgb(46, 46, 46);
  animation: moveDown 0.7s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-4rem);
  }
  to {
    transform: translateY(0rem);
  }
}
